@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_NiceBlankLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>








<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="/assets/img/car.png" alt="">
                            <span class="d-none d-lg-block">AutoOA</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Створити аккаунт</h5>
                                <p class="text-center small">Введіть свої особисті дані, щоб створити обліковий запис</p>
                            </div>

                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Введіть email</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                        <div class="invalid-feedback">Введіть email користувача.</div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Введіть пароль</label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <div class="invalid-feedback">Будь ласка, введіть свій пароль!</div>
                                </div>

                                <div class="col-12">
                                    <label class="form-check-label" for="acceptTerms">Повторіть пароль</label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />                                    
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Створити Aкаунт</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Вже є аккаунт? <a href="/Identity/Account/Login">Авторизуватися</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
