@using AutoOA.Repository.Dto.VehicleDto

@model IEnumerable<VehicleReadDto>

<div class="mb-3">
    <input type="file" class="form-control" aria-label="file example" required>
    <div class="invalid-feedback">Example invalid form file feedback</div>
</div>

<div class="col-md-3">
    <label class="form-label">Марка</label>
    <select class="form-select" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        @foreach (var u in Model)
        {
            <option>@u.VehicleBrand</option>
        }
    </select>
    <div class="invalid-feedback">
        Please select a valid brand.
    </div>
</div>

<div class="col-md-3">
    <label class="form-label">Паливо</label>
    <select class="form-select" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        @foreach (var u in Model)
        {
            <option>@u.FuelType.FuelName</option>
        }
    </select>
    <div class="invalid-feedback">
        Please select a valid brand.
    </div>
</div>

<div class="col-md-3">
    <label class="form-label">Коробка передач</label>
    <select class="form-select" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        @foreach (var u in Model)
        {
            <option>@u.GearBox.GearBoxName</option>
        }
    </select>
    <div class="invalid-feedback">
        Please select a valid brand.
    </div>
</div>

<div class="col-md-3">
    <label class="form-label">Тип кузова</label>
    <select class="form-select" id="validationCustom04" required>
        <option selected disabled value="">Choose...</option>
        @foreach (var u in Model)
        {
            <option>@u.BodyType.BodyTypeName</option>
        }
    </select> 
    <div class="invalid-feedback">
        Please select a valid brand.
    </div>
</div>

<div class="mb-3">
    <label class="form-label">Опис українською</label>
    <textarea class="form-control" rows="3"></textarea>
</div>

<hr />

<button class="btn btn-primary" type="button">Подати оголошення</button>